<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mobile E-Charging Plant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <app-map #map [isPlantRequested]="isPlantRequested" [isPlantBooked]="isPlantBooked"></app-map>
  </div>
  <div class="locator">
    <ion-fab #locator [style.marginBottom]="locatorHeight" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="refresh()">
        <ion-icon name="navigate-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <div *ngIf="locationEnabled" class="bottom request-controls">
    <ion-row class="plant-details" *ngIf="isPlantRequested">
      <ion-col>
        DISTANCE FROM YOUR LOCATION: {{distance}}
      </ion-col>
    </ion-row>
    <ion-row class="plant-details" *ngIf="isPlantRequested">
      <ion-col>
        REACHING TIME IS APPROXIMATELY {{timeTillArrival}} MIN
      </ion-col>
    </ion-row>
    <ion-row class="request-button" *ngIf="!isPlantBooked">
      <ion-col>
        <button [hidden]="isPlantRequested" (click)="confirmPlantRequest()">Request Nearest Plant</button>
        <button [hidden]="!isPlantRequested" (click)="bookPlant()">Book Plant</button>
      </ion-col>
    </ion-row>
    <ion-row class="request-button" *ngIf="isPlantBooked">
      <ion-col>
        <button [hidden]="!isPlantBooked" (click)="cancelPlantRequest()">Cancel Book</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>