<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>OTP-Validation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="otpNo">
    <div class="otpNoDesc">
      <p>Please Enter Your OTP Number to Validate</p>
    </div>
    <div class="optInput">
    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>
    </div>
    <div class="sendButton">
      <ion-button type="submit" [routerLink]="['/checkout-description']" color="success">Submit</ion-button>
    </div>
  </div>
</ion-content>
