.otpNo {
    margin-top: 20px;
}

.otpNoDesc {
    margin: 15px;
    text-align: center;
}

.optInput {
    padding: 20px;
    align-items: center;
    text-align: center;
}
.sendButton {
    margin-top: 20px;
    text-align: center;
}