.mobileNoDesc {
    margin: 15px;
}

.mobileNo {
    margin-top: 20px;
}

.mobileNo ion-label {
    margin-bottom: 5px;
    font-size: 20px;
}

.sendButton {
    margin-top: 20px;
    text-align: center;
}